/figwheel_server.log
/.nrepl-port
/jsx-to-cljs.iml
pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl*
/.idea
/node_modules
/jsx-to-clojurescript.js
/jsx-to-clojurescript.js.map
/jsx-to-clojurescript.iml
/npm-debug.log
