/src
/target
/out
/jsx-to-clojurescript.iml
/figwheel_server.log
/.nrepl-port
/project.clj
/.idea
/.repl-1.8.51
/cognitect
/jsx_to_cljs
/release
/com
/cljs
/camel_snake_kebab
/goog
/clojure
/print
/scripts
/index.html
/pom.xml
/pom.xml.asc
/node_modules
